@font-face {
  font-family: evesansneue-bold;
  src: url("vendor/fonts/evesansneue-bold.otf")format("opentype");
}
@font-face {
  font-family:evesansneue-italic;
  src: url("vendor/fonts/evesansneue-italic.otf")format("opentype");
}
@font-face {
  font-family: evesansneue-regular;
  src: url("vendor/fonts/evesansneue-regular.otf")format("opentype");
}
body {
  font-family: evesansneue-bold;
  background-color: gray;
  color: #9CA5A5;
}

.tab-content {
  height: 300px;
  width: 600px;
  background-color: #253139;
  margin-top: 50px;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}
