
body {
  font-family: 'eve_sans_neuebold';
  background-color: gray;
  color: #9CA5A5;
}

.tab-content {
  height: 300px;
  width: 600px;
  background-color: #253139;
  margin-top: 50px;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}
