
body {
  min-width: 350px;
  font-family: 'eve_sans_neuebold';
  background-image: url('../vendor/images/planet_view_phone.jpg');
  background-size: 100%;
  color: #9CA5A5;
}

main {
  background-color: #253139;
}

nav {
  font-size: 1.5em;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: #9CA5A5;
  padding: .5em 1em;
  font-family: 'eve_sans_neuebold';
  font-size: 1em;
  color: #253139;
}

a {
  text-decoration: none;
  color: #253139;
  font-family: 'eve_sans_neuebold';
}

.tab {
  width: 100%;
  background-color: #9CA5A5;
}

#navigation {
  font-size: 18px;
}

.tab-content {
  margin-top: 50px;
}

.clearfix {
  clear: both;
}
