.main-nav ul {
  display: none;
  padding: 0;
  clear: both;
}

.main-nav a {
  display: none;
}

.main-nav div {
  text-align: right;
  width: 100%;
}

.main-nav:hover .fa-bars ul {
  display: block;
  width: 100%;
  background-color: #9CA5A5;
  font-size: 1.5em;
}

.main-nav:hover .fa-bars a {
  display: block;
  padding: .25em 0;
  text-align: center;
}
.main-nav:hover .fa-bars a:hover {
  background-color: #8DDFEE;
}

.outer {
  width: 400px;
  margin: 2%;
  border: 5px solid #111b35;
  border-radius: 5px;
}

.picture {
  width: 400px;
  height: 200px;
  margin-bottom: 15px;
  background-size: 400px 400px;
}

#eve-logo {
  float: left;
  margin: .5em;
}

.index-names {
  display: block;
  font-size: 1.5em;
}

@media only screen and (min-width: 640px) {

  .main-nav ul {
    display: block;
  }

  .main-nav li {
    display: inline;
  }

  .main.nav a {
    display: inline;
  }

}
