.index-template {
display:inline-block;;
}

.outer {
  width: 400px;
  margin: 2%;
  border: 5px solid #111b35;
  border-radius: 5px;
}

.picture {
  width: 400px;
  height: 200px;
  margin-bottom: 15px;
  background-size: 400px 400px;
}
.icon-menu {
  font-size: 5em;
  margin-left: 391px;

}
.main-nav ul {
  display: none;
  padding: 0;
  list-style: none;
  clear: both;
}
.main-nav:hover ul {
  display: block;
}
.main-nav li {
  margin-right: .4em;
  padding: .5em .2em;
  text-decoration: none;
}
.main-nav:hover ul li {
  display:block;
  margin-left: 391px;
}
#indexTable  {
    margin-top:30px;
    margin-bottom: 30px;
    border-style: dotted;
    border-width: medium;
    border-color: rgb(213,0,0);
}

#home ul li{
  display:inline;
}
#firstOne {
  float: right;
}

#elizabeth {
  float:right;
  background-image: url('http://www.stevensegallery.com/g/350/270');
}

#secondOne {
  float: right;
}

#aziza {
  float:right;
  background-image: url('http://www.stevensegallery.com/290/300');
}

#aziza:hover {
  background-image: url('');
}

#thirdOne {
  float:right;
}

#derek {
  float:right;
  background-image: url('http://www.stevensegallery.com/g/350/250');
}

#derek:hover {
  background-image: url('');
}
#forthOne {
  float:right;
}
#logan {
  float:right;
  background-image: url('http://www.stevensegallery.com/g/270/290');
}
@media only screen and (min-width: 640px) {

  .main-nav ul li {
    display: inline-block;
  }
  .main-nav ul {
    display: block;
  }

  .main-nav ul li {
    display: inline;
    border-bottom: none;
    text-decoration: none;
  }
}
