
#about-us div p {
  display: block;
  height: 600px;
  margin:30px 5px 0px 18px;
}
 #about-us {
  color: black;
}
section p a {
  color: #ac0400;
}

h2 {
  width: 90%;
  font-size: 2em;
  border-radius: 5px;
  padding: 10px 20px;
  display: inline-block;
  margin-bottom: 15px;
}

.outer {
  width: 300px;
  margin: 30px;
  border: 5px solid #111b35;
  border-radius: 5px;

}
.outer p{
  color: red;
}
.picture {
  display:block;
  width: 300px;
  height: 200px;
  margin-bottom: 15px;
  background-size: 400px 400px;
}
#elizabeth {
  background-image : url('faces/liz.jpg');
}
#aziza {
  background-image : url('faces/aziza.jpg');
}
#derek {
  background-image: url('faces/derek.jpg');
}
#logan {
  background-size: 280px 200px;
  background-image: url('faces/loganSmall.jpg');
}
#elizabeth : hover {
  background-image: url('http://www.stevensegallery.com/300/350');
}
@media only screen and (min-width: 970px) {

  #elizabeth {
    float:left;
    background-image : url('faces/liz.jpg');
  }
  #aziza {
    float: right;
    background-image : url('faces/aziza.jpg');
  }
  #derek {
    float: right;
    background-image: url('faces/derek.jpg');
  }
  #logan {
    background-size: 280px 200px;
    float: left;
    background-image: url('faces/LoganSmall.jpg');
  }

  #firstOne {
    float:right;
  }
  #secondOne {
    float:left;
  }
  #thirdOne {
    float:right;
  }
  #forthOne {
    float:left;
  }

  footer {
     clear: both;
  }


}
