#dashboard-append {
  margin: 1em;
}

#dashboard-append ul {
  margin-bottom: 1em;
}

#dashboard-button-center {
  text-align: center;
}

#clear-dashboard {
  margin-bottom: 1.5em;
}

#hide-customize-center {
  text-align: center;
}

#hide-customize {
  margin: 1em;
}

#customize {
  text-align: center;
}

#customize-append {
  margin: 1em;
}
